[submodule "_sdk/external-platform-tb"]
	path = _sdk/external-platform-tb
	url = https://github.com/ecsimsw/sdk-external-platform-tb.git
[submodule "_sdk/external-platform-ty"]
	path = _sdk/external-platform-ty
	url = https://github.com/ecsimsw/sdk-external-platform-ty.git
