.idea
out/
.idea_modules/
.gradle
build
*.class
*.log
.DS_Store
**/build/
!src/**/build/
.kotlin
**/secret.properties

**/.terraform/
**/terraform.tfstate
**/terraform.tfstate.*
**/crash.log
**/*.tfplan

_api-notification/src/main/resources/secret/fcm-account.json
**/fcm-account.json
fcm-account.json